@-webkit-keyframes hinge {
    20%,
    60% {
      -webkit-transform: rotate(70deg);
              transform: rotate(70deg);
    }
    40%,
    80% {
      -webkit-transform: rotate(55deg);
              transform: rotate(55deg);
    }
    100% {
      -webkit-transform: translateY(100vh);
              transform: translateY(100vh);
    }
  }
  
  @keyframes hinge {
    20%,
    60% {
      -webkit-transform: rotate(70deg);
              transform: rotate(70deg);
    }
    40%,
    80% {
      -webkit-transform: rotate(55deg);
              transform: rotate(55deg);
    }
    100% {
      -webkit-transform: translateY(100vh);
              transform: translateY(100vh);
    }
  }
  
  @-webkit-keyframes show {
    60% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    64%,
    69% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    66% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    68% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
    }
    70% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      width: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      width: calc(100% - 30px);
    }
  }
  
  @keyframes show {
    60% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    64%,
    69% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    66% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    68% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
    }
    70% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @-webkit-keyframes fall {
    0% {
      top: -50%;
    }
  
    100% {
      top: 110%;
    }
  }
  
  @keyframes fall {
    0% {
      top: -50%;
    }
  
    100% {
      top: 110%;
    }
  }
  
  @-webkit-keyframes LeftRight {
    0% {
      left: 0;
    }
  
    100% {
      left: 150%;
    }
  }
  
  @keyframes LeftRight {
    0% {
      left: 0;
    }
  
    100% {
      left: 150%;
    }
  }