.lines {
  overflow: hidden;
  z-index: -10;
  position: absolute;
  height: 100%;
  width: 100%;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  left: 50%;
}
.line::after {
  content: "";
  position: absolute;
  height: 5vh;
  width: 100%;
  top: -50%;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(255, 255, 255, 0)),
    color-stop(75%, #ffffff),
    to(#ffffff)
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  -webkit-animation: fall 6.5s cubic-bezier(0.4, 0.26, 0, 0.97) forwards infinite;
          animation: fall 6.5s cubic-bezier(0.4, 0.26, 0, 0.97) forwards infinite;
}

.line:nth-child(2) {
  left: 10%;
}
.line:nth-child(2)::after {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.line:nth-child(3) {
  left: auto;
  right: 10%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.line:nth-child(4) {
  left: auto;
  right: 35%;
}
.line:nth-child(4)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.line:nth-child(5) {
  left: 35%;
}
.line:nth-child(5)::after {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.line:nth-child(6),
.line:nth-child(7),
.line:nth-child(8) {
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
  top: 25%;
  left: -20%;
  height: 1px;
  width: 100%;
}
.line:nth-child(6)::after,
.line:nth-child(7)::after,
.line:nth-child(8)::after {
  width: 10vw;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top, right top,
    from(rgba(255, 255, 255, 0)),
    color-stop(75%, #ffffff),
    to(#ffffff)
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  -webkit-animation: LeftRight 7s cubic-bezier(0.4, 0.26, 0, 0.97) forwards infinite;
          animation: LeftRight 7s cubic-bezier(0.4, 0.26, 0, 0.97) forwards infinite;
}

.line:nth-child(7) {
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);
  top: 65%;
}
.line:nth-child(7)::after {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.line:nth-child(8) {
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  top: 15%;
}
.line:nth-child(8)::after {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}