* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #171717;
  overflow: hidden;
  height: 100vh;
  position: relative;
}
a {
  cursor: pointer;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
a:hover,
#resume a:hover {
  color: darkgreen;
}
.text_darkgreen_background {
  padding: 3px 5px 3px 3px;
  background: darkgreen;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px lightgrey;
}
.text_darkgreen_color {
  color: darkgreen;
}
.text_lightgray_color {
  color: rgb(93, 93, 93);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.hide {
  display: none;
}
#resumeContainer {
  -webkit-transform: translateY(100vh);
  -ms-transform: translateY(100vh);
  transform: translateY(100vh);
  -webkit-animation: show 4.5s ease-in-out forwards;
  animation: show 4.5s ease-in-out forwards;
}
#hingeContainer {
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-animation: hinge 2s ease-in-out forwards;
  animation: hinge 2s ease-in-out forwards;
}
#resume,
#resume a {
  color: rgb(51, 51, 51);
}

.container {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.preview-info {
  position: absolute;
  background: white;
  top: 35%;
  padding: 5px 15px;
}
.preview-info__text {
  text-align: center;
  font-size: 25px;
}
.preview-info__link,
.resume-download__link {
  text-decoration: underline;
}
.resume-download {
  margin-top: 20px;
  text-align: center;
}

.resume-container {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  height: 90vh;
  max-width: 1024px;
  width: calc(100% - 30px);
  background: white;
  padding: 15px;
}

.resume-header {
  text-align: center;
}
.resume-header h1 {
  font-size: 31.5px;
}
.resume-header p {
  font-size: 12px;
  color: darkgreen;
  font-weight: bold;
}

.resume-section {
  margin-top: 20px;
  font-size: 12px;
}
.resume-section__text-caption,
.resume-section__link-caption {
  color: rgb(64, 64, 64);
  font-weight: bold;
  font-size: 13px;
}
.resume-section__link-caption {
  font-size: 12px;
}
.resume-section__list {
  margin: 5px 0 0 15px;
}
.resume-section__text {
  margin-top: 5px;
}
.project {
  margin-bottom: 10px;
}
.project:last-child {
  margin-bottom: 0;
}
